@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Inter:wght@100;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Inter:wght@100;400;600;700&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Inter:wght@100;400;600;700&family=Roboto+Slab:wght@300&family=Ubuntu+Mono:wght@700&display=swap');

html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
}
header, footer {
    font-family: 'Inter', sans-serif;
    background-color: rgba(0,0,0, 0.9);
    color: white;
    min-height: 80px;
}

#welcome-page {
    font-family: 'Ubuntu Mono', sans-serif;
}

body::after {
    content: '';
    display: block;
    height: 150px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}
.site-bg {
    background-image: url("../../images/black-and-white-ground-shot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-mintcream {
    background-color: #F5FFFA;
}
.bg-blue-neutral {
    background-color: #a2b9bc;
}
.bg-green-bright {
    background-color: #80ced6;
}
.bg-dark-blue {
    background-color: #204060;
}
.bg-light-blue {
    background-color: #d9e6f2;
}
.bg-purple {
    background-color: #4d4dff;
}
.bg-lighter-blue {
    background-color: #e6faff;
}
.bg-sub-header {
    background-color: #5e678c;
}
.bg-light-pink {
    background-color: #ffb6c1;
}
.bg-dark-orange {
    background-color: #ff8c00;
}

.font-sm {
    font-size: 12px;
    font-weight: normal;
}
.font-lg{
    font-size: 20px;
    font-weight: bolder;
}
.font-md{
    font-size: 16px;
    font-weight: bold;
}
.text-pink {
    color: pink;
}
.text-lime {
    color: lime;
}
.text-cyan {
    color: #00ffff;
}
.text-hot-pink {
    color: #ff69b4;
}
.text-dark-magenta {
    color: #8b008b;
}

/*https://www.w3schools.com/howto/howto_css_loader.asp*/
* {
    margin: 0;
    padding: 0;
}

.loader {
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.loading {
    border: 10px solid #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: #e7ab3c;
    border-left-color: #e7ab3c;
    animation: spin 1s infinite ease-in;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
