@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Inter:wght@100;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Inter:wght@100;400;600;700&family=Roboto+Slab:wght@300&display=swap');
html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
}
header, footer {
    font-family: 'Inter', sans-serif;
    background-color: #bdcebe;
}

body::after {
    content: '';
    display: block;
    height: 150px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}
.site-bg {
    background-color: #dbe3e5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2392abac' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}
.bg-mintcream {
    background-color: #F5FFFA;
}
.bg-blue-neutral {
    background-color: #a2b9bc;
}
.bg-green-bright {
    background-color: #80ced6;
}
.bg-dark-blue {
    background-color: #204060;
}
.bg-light-blue {
    background-color: #d9e6f2;
}
.bg-purple {
    background-color: #4d4dff;
}
.bg-lighter-blue {
    background-color: #e6faff;
}

.font-sm {
    font-size: 12px;
    font-weight: normal;
}
.font-lg{
    font-size: 20px;
    font-weight: bolder;
}
.font-md{
    font-size: 16px;
    font-weight: bold;
}
.text-pink {
    color: pink;
}
.text-lime {
    color: lime;
}
.text-cyan {
    color: #00ffff;
}

/*https://www.w3schools.com/howto/howto_css_loader.asp*/
* {
    margin: 0;
    padding: 0;
}

.loader {
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.loading {
    border: 10px solid #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: #e7ab3c;
    border-left-color: #e7ab3c;
    animation: spin 1s infinite ease-in;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
