@model bad_each_way_finder.Pages.Shared.PropositionsModel

<div class="bg-green-bright ps-2 rounded"><span class="font-lg">My Propositions</span></div>
<div class="row border border-dark rounded bg-light p-3 mb-5">
    <div class="col-12">
@foreach (var proposition in Model.AccountPropositions
   .OrderByDescending(p => p.RecordedAt))
{
    @await Html.PartialAsync("SinglePropositionPartial", proposition)
}
    </div>
</div>
<script>
    $(document).ready(function () {

    $(".proposition-remove").on('click', function (e) {
        e.preventDefault();
        var data = $(this).parents('form:first').serialize();
        propositionRemoved(data);
    });

    function propositionRemoved(data) {
        $.post({
            url: "?handler=RemoveAccountProposition",
            data: data,
            success: function (result) {
                console.log(result);
                $("#account-propositions").html('');
                $("#account-propositions").html(result);
            }
        });
    };
    });
</script>