@model bad_each_way_finder.Pages.Shared.PropositionsModel

@if (!Model.ModelState.IsValid)
{
    @if (Model.ModelState.ContainsKey("Exception Message"))
    {
        @await Html.PartialAsync("ErrorPartial", @Model.ModelState["Exception Message"]!.Errors.First().ErrorMessage)
    }
}
else
{
@await Html.PartialAsync("PropositionHeaderBarPartial");
    <div class="row p-0 mb-5 bg-prop-base">
        <div class="col-12">
            @foreach (var proposition in Model.AccountPropositions
           .OrderBy(p => p.EventDateTime)
           .ThenBy(p => p.WinRunnerOddsDecimal)
           .ThenBy(p => p.RunnerName)
           .ThenBy(p => p.EventName))
            {
                @await Html.PartialAsync("SinglePropositionPartial", proposition)
            }
        </div>
    </div>
}

<script>
    $(document).ready(function () {

    $(".proposition-remove").on('click', function (e) {
        e.preventDefault();
        var data = $(this).parents('form:first').serialize();
        propositionRemoved(data);
    });

    function propositionRemoved(data) {
        $.post({
            url: "?handler=RemoveAccountProposition",
            data: data,
            success: function (result) {
                console.log(result);
                $("#account-propositions").html('');
                $("#account-propositions").html(result);
            }
        });
    };
    });
</script>