@model bad_each_way_finder.Pages.Shared.PropositionsModel

<div id="propositions">
    <div class="row mt-2 mb-2 w-25 text-center">
         <span id="last-updated-time" class="text-black border border-dark rounded-1 bg-mintcream p-1">Last Updated - @DateTime.Now.ToString("HH:mm:ss")</span>
    </div>

    <div class="row bg-green-bright p-3 rounded border border-dark mb-1"><span class="font-lg">Live Propositions</span></div>

    <div id="live-propositions">
        @if (Model.Propositions.Any())
            {
            @await Html.PartialAsync("LivePropositionsPartial", Model)
        }
    </div>

    <div id="account-propositions">
        @if (Model.AccountPropositions.Any())
        {
            ViewData["PropositionType"] = "Account";
            @await Html.PartialAsync("AccountPropositionsPartial", Model)
        }
    </div>
    <div id="saved-propositions">
        @if (Model.SavedPropositions.Any())
        {
            ViewData["PropositionType"] = "Saved";
            @await Html.PartialAsync("SavedPropositionsPartial", Model)
        }
    </div>
</div>

