<div class="row bg-sub-header font-sm pb-3 pt-3 rounded border border-dark mb-1">
    <div class="col-1 me-1 d-none d-md-block">Saved At</div>
    <div class="col-2 p-0">Meeting & Time</div>
    <div class="col-2 p-0 me-3">
        <span type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top" title="Saved Odds">Runner Name & Odds</span>
    </div>
    <div class="col-1 p-0">
        <span type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top" title="Latest Each Way Terms">EW Terms</span>
    </div>
    <div class="col-2 p-0">
        <span type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top" title="Saved Prices">Saved At Prices</span>
    </div>
    <div class="col-2 p-0">
        <span type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top" title="Latest Prices">Latest Prices</span>
    </div>
    <div class="col-1 p-0">Save/Remove</div>
</div>