@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="bg-prop-base-1 rounded p-3 mt-3">
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(Model.ExceptionMessage))
{
    <p>
        <strong class="font-md text-light bg-prop-base-1">
            @Model.ExceptionMessage
        </strong>
    </p>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong class="font-md text-light bg-prop-base-1">Request ID:</strong> <code class="font-md">@Model.RequestId</code>
    </p>
}
</div>

