@page
@model bad_each_way_finder.Pages.Shared.PropositionsModel

<div class="mb-3 pt-3">
    <a href="/Propositions" class="btn btn-primary me-2">Refresh <i class="fa fa-refresh" aria-hidden="true"></i></a>

    <a class="btn btn-danger" id="refresh-auto-racing">Refresh Auto Off</a>
</div>

<div>
    @await Html.PartialAsync("PropositionsPartial", Model)
</div>

<script>
    $(document).ready(function () {
        let msg = $('#StatusMessage').val();
        if (msg.length > 0) {
            swal.fire(msg);
        }
    });
</script>

