@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<div class="bg-light mt-3 p-2 border rounded">
    <h1>@ViewData["Title"]</h1>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
